In [38]:
import pandas as pd
import numpy as np
import glob #lets us 
import matplotlib.pyplot as plt
import seaborn as sns
import os
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
df_list = []
file_pattern = "*.csv"

file_list = glob.glob(file_pattern)

for file in file_list:
    year = os.path.basename(file)
    year = year.split('.')[0]

    curr = pd.read_csv(file, header = 1)
    curr["Year"] = year
    curr = curr.dropna(axis=1, how='all')
    curr = curr.dropna(subset=['Rk'])


    df_list.append(curr)

combined_df = pd.concat(df_list, ignore_index=True)

In [20]:
combined_df['Team'].value_counts()

Team
Boston Celtics*            10
Milwaukee Bucks*            9
Sacramento Kings            9
Charlotte Hornets           9
Los Angeles Clippers*       8
Detroit Pistons             8
Chicago Bulls               7
New York Knicks             7
Philadelphia 76ers*         7
Orlando Magic               7
Miami Heat*                 7
Golden State Warriors*      7
Toronto Raptors*            7
Portland Trail Blazers*     7
New Orleans Pelicans        6
Atlanta Hawks*              6
Memphis Grizzlies*          6
Minnesota Timberwolves      6
Cleveland Cavaliers*        6
Washington Wizards          6
Los Angeles Lakers          6
Oklahoma City Thunder*      6
Utah Jazz*                  6
Denver Nuggets*             6
Dallas Mavericks*           6
Indiana Pacers*             6
Houston Rockets*            6
Phoenix Suns                6
Brooklyn Nets*              6
San Antonio Spurs*          5
San Antonio Spurs           5
Minnesota Timberwolves*     4
Houston Rockets             4
Los Angeles Lakers*         4
Utah Jazz                   4
Oklahoma City Thunder       4
Dallas Mavericks            4
Memphis Grizzlies           4
Washington Wizards*         4
Denver Nuggets              4
Brooklyn Nets               4
Phoenix Suns*               4
Cleveland Cavaliers         4
Atlanta Hawks               4
New Orleans Pelicans*       4
Indiana Pacers              4
Miami Heat                  3
Philadelphia 76ers          3
Golden State Warriors       3
Chicago Bulls*              3
Portland Trail Blazers      3
Toronto Raptors             3
New York Knicks*            3
Orlando Magic*              3
Los Angeles Clippers        2
Detroit Pistons*            2
Sacramento Kings*           1
Charlotte Hornets*          1
Milwaukee Bucks             1
Name: count, dtype: int64

In [36]:
champions = {'2024': 'Boston Celtics*',
 '2023': 'Denver Nuggets*',
 '2022': 'Golden State Warriors*',
 '2021': 'Milwaukee Bucks*',
 '2020': 'Los Angeles Lakers*',
 '2019': 'Toronto Raptors*',
 '2018': 'Golden State Warriors*',
 '2017': 'Golden State Warriors*',
 '2016': "Cleveland Cavaliers*",
 '2015': 'Golden State Warriors*'}

combined_df['Team'] = combined_df['Team'].str.strip()
combined_df['Won Championship'] = combined_df.apply(lambda row: 1 if champions.get(row['Year']) == row['Team'] else 0, axis = 1)

winners = combined_df[combined_df['Won Championship'] == 1]
winners.head(10)

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Arena,Attend.,Attend./G,Year,Won Championship
4,5.0,Los Angeles Lakers*,29.5,52.0,19.0,48,23,5.79,0.49,6.28,...,0.201,0.515,14.1,78.8,0.205,STAPLES Center,588907.0,18997.0,2020,1
33,4.0,Milwaukee Bucks*,28.1,46.0,26.0,48,24,5.89,-0.32,5.57,...,0.177,0.536,11.5,79.7,0.157,Fiserv Forum,64780.0,1799.0,2021,1
65,6.0,Denver Nuggets*,26.6,53.0,29.0,49,33,3.33,-0.29,3.04,...,0.194,0.543,12.2,76.4,0.201,Ball Arena,788635.0,19235.0,2023,1
94,5.0,Golden State Warriors*,27.6,53.0,29.0,55,27,5.54,-0.02,5.52,...,0.181,0.509,13.0,78.7,0.201,Chase Center,740624.0,18064.0,2022,1
122,3.0,Toronto Raptors*,27.3,58.0,24.0,56,26,6.09,-0.60,5.49,...,0.198,0.509,13.1,77.1,0.190,Scotiabank Arena,812822.0,19825.0,2019,1
152,3.0,Golden State Warriors*,28.8,58.0,24.0,56,26,5.98,-0.19,5.79,...,0.195,0.504,12.6,76.3,0.186,Oracle Arena,803436.0,19596.0,2018,1
180,1.0,Boston Celtics*,28.2,64.0,18.0,66,16,11.34,-0.60,10.75,...,0.180,0.523,10.8,76.3,0.145,TD Garden,785396.0,19156.0,2024,1
210,1.0,Golden State Warriors*,26.6,67.0,15.0,65,17,10.10,-0.09,10.01,...,0.184,0.470,14.3,74.5,0.217,Oracle Arena,803436.0,19596.0,2015,1
243,4.0,Cleveland Cavaliers*,28.1,57.0,25.0,57,25,6.00,-0.55,5.45,...,0.194,0.496,12.6,78.5,0.205,Quicken Loans Arena,843042.0,20562.0,2016,1
270,1.0,Golden State Warriors*,28.2,67.0,15.0,67,15,11.63,-0.28,11.35,...,0.204,0.486,13.5,74.9,0.198,Oracle Arena,803436.0,19596.0,2017,1

In [ ]:
df = combined_df
plt.figure(figsize=(14,7))

plt.subplot(1, 2, 1)
sns.scatterplot(x='Won Championship', y='DRB%', data=df)
plt.title('Defensive Rebound % vs Won Championship')
plt.xlabel('Won Championship (1=Yes, 0=No)')
plt.ylabel('Defensive Rebound %')

plt.subplot(1, 2, 2)
sns.scatterplot(x='Won Championship', y='TOV%.1', data=df)
plt.title('Turnover % vs Won Championship')
plt.xlabel('Won Championship (1=Yes, 0=No)')
plt.ylabel('Turnover %')
plt.show()

KeyboardInterrupt

In [ ]:
plt.figure(figsize = (8, 6))